{%  extends 'index.html' %}
{%block content%}
<div class=" d-flex justify-content-center align-items-center col-lg-12 col-md-6" >
<h1 class=" text-uppercase my-4">our products</h1>
</div>
<div class=" container" id="product" >
    <div class="row ">
    <div class="col-lg-5 col-md-6  mx-3 py-4 my-3">
        <h5 class=" text-uppercase text-center">product1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias similique nulla natus sit provident in quos officiis, consectetur odit dolorum sapiente iure inventore aspernatur doloremque, distinctio laboriosam quia possimus culpa.</p>
            <button>learnmore...</button>
    </div>   
    <div class="col-lg-5 col-md-6 mx-3 py-4 my-3">
        <h5 class=" text-uppercase text-center">product2</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias similique nulla natus sit provident in quos officiis, consectetur odit dolorum sapiente iure inventore aspernatur doloremque, distinctio laboriosam quia possimus culpa.</p>

            <button>learnmore...</button>
    </div>    
    <div class="col-lg-5 col-md-6 mx-3 py-4 my-3  ">
        <h5 class=" text-uppercase text-center">product3</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias similique nulla natus sit provident in quos officiis, consectetur odit dolorum sapiente iure inventore aspernatur doloremque, distinctio laboriosam quia possimus culpa.</p>
            <button>learnmore...</button>
    </div>    
    <div class="col-lg-5 col-md-6 mx-3 py-4 my-3">
        <h5 class=" text-uppercase text-center">product4</h5>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis iste tenetur perspiciatis culpa, iusto optio facere quod id ab enim sint vitae natus quos voluptates necessitatibus fuga, illum ad quas?</p>
            <button>learnmore...</button>
    </div>    
    <div class="col-lg-5 col-md-6 mx-3 py-4 my-3">
        <h5 class=" text-uppercase text-center">product5</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ex laudantium deleniti aliquid ut eius excepturi blanditiis vel placeat, atque quisquam minima sapiente? Facere dolore, consequuntur quos nam a cum?</p>
            <button>learnmore...</button>
    </div>    
    <div class="col-lg-5 col-md-6   mx-3 py-4 my-3">
        <h5 class=" text-uppercase text-center">product6</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi possimus consequatur illum magnam vel omnis deserunt quasi accusantium doloremque aperiam! Neque et molestias iure maiores officia eius eos dolorum quae?</p>
            <button>learnmore...</button>
    </div>    

 
    </div>
</div>
    {%endblock%}