
{%  extends 'index.html' %}
{%block content%}
<div class="container my-5">
    <div class="row  justify-content-md-center"  id="content1">
      <div class="col-lg-8">
      <h1>_WHAT WE DO…</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aut quo, deserunt at ducimus molestias. Aut reprehenderit nobis saepe libero in possimus nam quis sit molestias, tenetur cumque, tempora praesentium?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur quam quibusdam magni exercitationem vitae, eos, omnis, labore fuga vero rerum esse libero illo eligendi laborum iste possimus expedita fugiat!
      </p>
    </div>
    </div>
   
</div>
  
<div class="container-fluid"  id="content3">
    <div class="row justify-content-center mx-5">
      <div class="col-lg-4 col-md-2">
        <h5 clas="font-weight-bold">DIGITAL SERVICES</h5>
        <p class="text-left text-black">Internet of Things (IOT) | Blockchain | Mobile Technologies | User Experience Enrichment | Big Data | Cloud Transformation | POS & mPOS | Microservices | DevOps</p>
      </div>
      <div class="col-lg-4 ol-md-2">
        <h5 clas="font-weight-bold text-uppercase">COGNITIVE SERVICES</h5>
        <p class="text-left text-black">Internet of Things (IOT) | Blockchain | Mobile Technologies | User Experience Enrichment | Big Data | Cloud Transformation | POS & mPOS | Microservices | DevOps</p>
      </div>
      <div class="col-lg-4 col-md-2">
        <h5 clas="font-weight-bold text-uppercase">TECHNOLOGY SERVICES</h5>
        <p class="text-left text-black">Internet of Things (IOT) | Blockchain |
           Mobile Technologies | User Experience Enrichment | 
          Big Data | Cloud Transformation | POS & mPOS | Microservices | DevOps</p>
      </div>
  
      <div class="col-lg-4 col-md-2">
        <h5 clas="font-weight-bold text-uppercase">INFRASTRUCTURE AND CLOUD SERVICES</h5>
        <p class="text-left text-black">Internet of Things (IOT) | Blockchain | Mobile Technologies | User Experience Enrichment | Big Data | Cloud Transformation | POS & mPOS | Microservices | DevOps</p>
      </div>
  
      <div class="col-lg-4 col-md-2">
        <h5 clas="font-weight-bold text-uppercase">PRODUCTS & PLATFORMS</h5>
        <p >Internet of Things (IOT) | Blockchain | Mobile Technologies | User Experience Enrichment | Big Data | Cloud Transformation | POS & mPOS | Microservices | DevOps</p>
      </div>
  
    </div>
  </div>
  {%endblock%}
  